<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Simple Map Link" %></title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "normalize", "all" %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGIaREZiD5i18ipaSSUQpTpuepXm3DWgk&libraries=places&sensor=false"></script>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>" ng-app="simplemaplink">
    <div class="container"><%= yield %></div>
  </body>
</html>